extends ../layouts/main-layout.pug

block content
    main
        if products.length > 0
            .grid
                each product in products
                    article.card.product-item
                        header.card__header
                            h1.product__title #{product.title}
                        div.card__image
                            img(src="#{product.imageUrl}", alt="A Book")
                        div.card__content
                            h2.product__price $#{product.price}
                            p.product__description #{product.description}
                        .card__actions
                            a.btn(href="/admin/product/" +product.id+ "/edit") Edit
                            form(action="/admin/product/" +product.id+ "/delete", method="post")
                                button.btn(type="submit") Delete
        else
            h1 No Products Found!