extends ../layouts/main-layout.pug

block content
    main
        if product
            .grid
                article.card.product-item
                    header.card__header
                        h1.product__title #{product.title}
                    div.card__image
                        img(src="#{product.imageUrl}", alt="A Book")
                    div.card__content
                        h2.product__price $#{product.price}
                        p.product__description #{product.description}
                    .card__actions
                        include add-to-cart.pug